tests/crowdlending.dtd

<?xml version="1.0" encoding="UTF-8"?>

        <!ELEMENT crowdlending (projet+)>

        <!ELEMENT projet (montant,offre*)>
        <!ATTLIST projet nom ID #REQUIRED >

        <!ELEMENT montant (#PCDATA) >
        <!ELEMENT offre EMPTY>
        <!ATTLIST offre
                montant CDATA #REQUIRED
                taux CDATA #REQUIRED
                numéro CDATA #REQUIRED
                état (EN-COURS |NON-RETENUE| RETENUE)   #REQUIRED>
